# Bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
ENV/
env/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Python distribution artifacts
/dist/
/build/
/*.egg-info/
/*.tar.gz
/*.egg

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints